# This is a basic workflow that is manually triggered

name: Manual workflow

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "greet"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - name: Checkout
      uses: actions/checkout@v2.4.0
      with:
        submodules: "recursive"
    - name: setup-node
      uses: actions/setup-node@v2.5.1    
    - name: setup-msbuild
      uses: microsoft/setup-msbuild@v1.1
      with:
        # The preferred processor architecture of MSBuild. Can be either "x86" or "x64". "x64" is only available from Visual Studio version 17.0 and later.
        msbuild-architecture: x64
    - name: build
      run: |
        cd armorpaint
        node.exe armorcore/make -g direct3d11
        cd armorcore
        git apply patch/window_handling.diff --directory=Kinc
        node Kinc/make -g direct3d11
        msbuild.exe build/ArmorPaint.vcxproj /p:Configuration=Release /p:Platform=x64
        tree /f /a
        
